.root {
  grid-area: canvas;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
.root:focus {
  outline: 4px solid lightcyan;
}

.selected {
  outline: 4px solid cyan;
}
