.root {
  grid-area: componentConfigEditor;
  border-left: 1px solid lightgray;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.root:focus {
  outline: 4px solid lightcyan;
}

.customListItem {
  display: flex;
}
