.root {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  max-height: 50%;
  overflow: scroll;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.search {
  width: 100%;
  padding: 8px;
}

.results {
  background: #fff;
}

.result {
  padding: 4px 8px;
}

.selectedResult {
  background: lightgrey;
}
