.root {
  grid-area: componentBrowser;
  border-right: 1px solid lightgray;
  padding: 1rem;
  padding-left: 0;
  outline: none;
}

.componentWrapper {
  padding-left: 1rem;
}

.component {
  cursor: pointer;
}

.selected {
  background: blue;
  color: white;
}
