.app {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid grey;
}

.addComponent {
  margin-left: auto;
}

.main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
